{% extends "layout.html" %}
{% block title %}Data Collection{% endblock %}

{% block content %}

<div class="container-md">
    <div class="row" style="border:1px solid red;">
        <div class="col" >
            <h1 style="text-align:center;">Data Collection</h1>
            <h3 style="text-align:center;">{{ session['project'] }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" style="border:1px solid red;">
            <div class="form-group col-xs-6">
                <h4>Select class to save data</h4>
                <form action="/datacollection" method="POST" enctype="multipart/form-data">
                    {{form.csrf_token}}
                    {{ form.opts}}
                    <ul>
                        {% for error in form.opts.errors %}
                        <li style="color:red;">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    <input type="submit">
                </form>
            </div>

        <table>
            <thread>
                <tr>
                    <th>ID</th>
                    <th>Class name</th>
                    <th>Number of Items</th>
                    <th>Project ID</th>
                </tr>
            </thread>
            <tbody>
                {% for cls in classes %}
                <tr>
                    <td> {{ cls.id }} </td>
                    <td> {{ cls.className }} </td>
                    <td> {{ cls.items_number }} </td>
                    <td> {{ cls.project_id }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        </div>
            <div class="col-md-8 text-center" style="border:1px solid red;">
                    <h2 class="mt-5" >Collect Data sets</h2>
                    <form method="post" action="{{ url_for('collectData.tasks') }}">
                    <input type="submit" value="Stop/Start" name="stop" />
                    <input type="submit" value="Capture" name="click"/>
                    </form>
                    <img src="{{ url_for('collectData.video') }}" height="30%">
            </div>
        </div>
    </div>
{% endblock %}